numpy==1.26.4
opencv-python-headless<4.10
pandas>=2.0

paddlepaddle==2.6.1
paddleocr==2.7.3

pytesseract>=0.3.10
pdf2image>=1.16.0
PyMuPDF>=1.22.0

sentence-transformers==2.2.2
torch>=2.0
rapidfuzz>=2.0.0
python-Levenshtein>=0.20.9
fuzzywuzzy[speedup]>=0.18.0

tqdm>=4.65.0
